<!DOCTYPE html>
{% load static %}
<html class="page" lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta content="notranslate" name="google">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">
    <title>Заказ {{order.number}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="preload" href="{% static 'js/app.js' %}" as="script">
  </head>
    <div class="page__inner">


      <main class="page__content">
        <div class="container">
          <div class="order-page">
            <div class="row">
              <div class="col-md-12  col-lg-8  order-page__details">
                <div class="order-page__details-group">
                  <h2 class="order-page__header">Маршрут</h2>
                  <div class="routes">
                    <div class="routes__points">
                      <div class="routes__points-item">
                        <div class="routes__pin  routes__pin--blue">А</div>
                      </div>
                      <div class="routes__points-item">
                        <div class="routes__pin  routes__pin--red">Б</div>
                      </div>
                    </div>
                    <div class="routes__addresses">
                      <div class="routes__address">{{order.address_from}}</div>
                      <div class="routes__address">{{order.address_to}}</div>
                    </div>
                  </div>
                  <div class="collapsible  collapsible--bigger">
                    <div class="collapsible__toggle">
                      <span>
                        <img src="{% static 'img/map.svg' %}" alt="">
                      </span>
                      <span>Показать карту</span>
                    </div>
                    <div class="collapsible__inner">
                      <div class="order-page__map">
                          <iframe src="{{order.map}}" width=100% height=400 frameborder="0" allowfullscreen="true"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                {%if order.comment%}
                <div class="order-page__details-group">
                  <div class="order-page__comment">
                    <h3 class="order-page__comment-header">Комментарий</h3>
                    <div class="order-page__comment-content">
                      <p>{{order.comment}}</p>
                    </div>
                  </div>
                </div>
                {%endif%}
                <div class="order-page__details-group">
                  <div class="order-page__comment">
                    <h3 class="order-page__comment-header">Информация по заказу</h3>
                    <div class="order-page__comment-content">
                      <p>{{order.logist}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12  col-lg-4  order-page__summary">
                <div class="order-page__summary-inner">
                  <div class="order-page__summary-group">
                    <div class="meta  meta--page">
                      <span class="meta__item  meta__item--number">
                        <span class="meta__space">№{{order.number}}</span>
                      </span>
                      <span class="meta__item">
                        <span class="meta__pill  meta__grass">Поиск перевозчиков</span>
                      </span>
                    </div>
                    <div class="summary">
                      <div class="summary__item">
                        <div class="summary__header">ставка</div>
                        <div class="summary__content">
                          <div class="summary__text">{{order.rate|floatformat}}₽ <small>за т·км</small></div>
                        </div>
                      </div>
                      <div class="summary__item">
                        <div class="summary__header">дистанция</div>
                        <div class="summary__content">
                          <div class="summary__text">{{order.distance|floatformat}}км</div>
                        </div>
                      </div>
                      <div class="summary__item">
                        <div class="summary__header">дата погрузки</div>
                        <div class="summary__content">
                          <div class="summary__text">{{order.pickup_date|date:"d.m.Y" }}</div>
                        </div>
                      </div>
                      <div class="summary__item">
                        <div class="summary__header">груз</div>
                        <div class="summary__content">
                          <div class="summary__text">{{order.weight|floatformat}}т</div>
                          <div class="summary__ps">{{order.cargo_type}}, {{order.cargo_count|floatformat}} шт</div>
                        </div>
                      </div>
                      <div class="summary__item">
                        <div class="summary__header">Кузов</div>
                        <div class="summary__content">
                          <div class="summary__text">{{order.car_type}}</div>
                        </div>
                      </div>
                      <div class="summary__item  summary__item--price">
                        <div class="summary__content">
                          <div class="summary__text">{{order.price|floatformat}}₽</div>
                          <div class="summary__ps">включая 20% НДС</div>
                        </div>
                      </div>
                    </div>
                    <form action="." method="post">
                        {% csrf_token %}
                    <div class="order-page__summary-actions">
                    <input type="text" class="form-control" name="name" placeholder="Имя" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="order-page__summary-actions">
                    <input type="text" class="form-control" name="phone" placeholder="Телефон" aria-label="Phone" aria-describedby="basic-addon1">
                    </div>

                    <div class="order-page__summary-actions">
                      <textarea type="text" class="form-control" name="comment" placeholder="Комментарий" aria-label="Comment" aria-describedby="basic-addon1"></textarea>
                    </div>

                    <div class="order-page__summary-actions">
                      <button href="Order page (taken).htm" class="btn  btn--full"  type="submit">Хочу взять заказ</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="page__footer-wrapper">
        <footer class="page-footer"></footer>
      </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(54274174, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/54274174" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


</body></html>